* {
  padding: 0;
  margin: 0;
}
.gotoHotel {
  height: 1.17333rem;
  color: #555;
  font-size: 0.4rem;
  background: #fff;
}
.gotoHotel p {
  padding-top: 0.48rem;
  margin-left: 0.50667rem;
  padding-bottom: 0.13333rem;
  display: flex;
  align-items: center;
  width: 1.33333rem;
}
.gotoHotel p img {
  pointer-events: auto;
  background: none;
  width: 0.42667rem;
  height: 0.42667rem;
}
.header {
  height: 3.73333rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.53333rem 0.64rem;
  color: #555;
  background: #fff;
  margin-bottom: 0.16rem;
}
.header .hotelName {
  width: 100%;
  padding: 0;
  height: 23px;
  white-space: nowrap;
  font-size: 0.53333rem;
  margin-bottom: 0.53333rem;
}
.header .roomName {
  width: 100%;
  height: 0.56rem;
  font-size: 0.4rem;
}
.header .roomName span:nth-child(1) {
  display: block;
  float: left;
  width: 2.13333rem;
  color: #aaa;
}
.header .roomName span:nth-child(2) {
  display: block;
  float: left;
  width: 6.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header .m10 {
  margin-bottom: 0.26667rem;
}
.stepper_wrap {
  height: 1.62667rem;
  width: 100%;
  margin-bottom: 0.13333rem;
  background: #fff;
  box-sizing: border-box;
  padding-left: 0.64rem;
}
.stepper_wrap p {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  width: 2.13333rem;
  color: #555;
  font-size: 0.4rem;
}
.stepper_wrap .h5_steper {
  float: right;
  width: 3.73333rem;
  height: 100%;
  display: flex;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.stepper_wrap .h5_steper input {
  width: 1.33333rem;
  text-align: center;
  color: #ffb70e;
  font-size: 0.4rem;
  background: transparent;
  border: 0;
}
.pepole_wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 0.53333rem 0.64rem;
  background: #fff;
  margin-bottom: 0.13333rem;
}
.pepole_wrap input::-webkit-input-placeholder {
  color: #aab2bd;
}
.pepole_wrap .title {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  padding-bottom: 1rem;
  border-bottom: 0.01333rem solid #f4f4f4;
  display: flex;
  justify-content: space-between;
}
.pepole_wrap .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pepole_wrap .content .content-left {
  width: auto;
  flex: none;
  margin-right: 1.12rem;
  font-size: 0.4rem;
  color: #555;
}
.pepole_wrap .content .content-right {
  width: 100%;
  border-bottom: 0.02667rem solid #f4f4f4;
  font-size: 0.4rem;
  display: flex;
  flex-direction: column;
}
.pepole_wrap .content .content-right p {
  font-size: 12px;
  line-height: 0.45333rem;
  margin-top: 0.4rem;
  color: #555;
}
.pepole_wrap .content .content-right span {
  display: block;
  height: 1.173333rem;
  line-height: 0.56rem;
  padding-right: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pepole_wrap .content .content-right span input {
  height: 100%;
  border: 0;
  color: #555;
}
.pepole_wrap .am-list-body {
  padding: 0.53333rem 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.4rem;
}
.pepole_wrap .am-list-body p {
  width: 2.88rem;
  color: #555;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.4rem;
}
.pepole_wrap .am-list-body input {
  height: 100%;
  border: 0;
}
.pepole_wrap .am-input-label {
  margin-top: 0.533333rem;
  border-top: 0.026667rem solid #f4f4f4;
}
.pepole_wrap .am-input-label p {
  margin-right: 0.5rem !important;
  width: 2.13333rem;
}
.pepole_wrap .am-input-label input {
  width: 100%;
}
.coupon {
  width: 100%;
  box-sizing: border-box;
  padding: 0.53333rem 0.64rem;
  font-size: 0.4rem;
  height: 1.62667rem;
  background: #fff;
  margin-bottom: 0.13333rem;
}
.coupon span:nth-child(1) {
  float: left;
  color: #555;
  display: block;
}
.coupon span:nth-child(2) {
  float: right;
  color: #aaa;
  display: block;
}
.invoice {
  height: 6.10667rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.64rem 0.53333rem;
  font-size: 0.4rem;
  background: #fff;
  margin-bottom: 0.13333rem;
}
.invoice input::-webkit-input-placeholder {
  color: #aab2bd;
}
.invoice a {
  background: transparent;
  text-decoration: none;
}
.invoice a .invoice_info {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  border-bottom: 0.02667rem solid #f4f4f4;
}
.invoice a .invoice_info span:nth-child(1) {
  width: 2.13333rem;
  color: #555;
  float: left;
}
.invoice a .invoice_info span:nth-child(2) {
  float: left;
  color: #aaa;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 5.86667rem;
  margin-right: 0.26667rem;
}
.invoice .am-list-line {
  display: flex;
  padding-right: 15px;
  overflow: hidden;
  border-bottom: 0.02667rem solid #f4f4f4;
  font-size: 0.4rem;
  height: 1.173333rem;
  margin-bottom: 0.53333rem;
}
.invoice .am-list-line p {
  width: 1.6rem;
  margin-right: 0.53333rem;
  height: 100%;
  line-height: 0.56rem;
  padding: 0;
  font-size: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 0.53333rem;
}
.invoice .am-list-line input {
  width: 100%;
  border: 0;
}
.invoice .require {
  width: 100%;
}
.invoice .require p {
  width: 1.92rem;
  height: 0.8rem;
  border: 0.02667rem solid #f4f4f4;
  display: inline-block;
  line-height: 0.8rem;
  text-align: center;
  border-radius: 2.66667rem;
  font-size: 0.32rem;
  color: #555;
  margin-right: 0.26667rem;
  margin-bottom: 0.26667rem;
}
.invoice .require p:nth-child(4),
.invoice .require p:nth-child(8) {
  margin: 0;
}
.h5_policy {
  margin-bottom: 1.6rem;
}
.h5_policy .footer_tips {
  box-sizing: border-box;
  padding: 0.53333rem 0.64rem;
  width: 100%;
  background: #fff;
  color: #555;
  border-bottom: 0.02667rem solid #f4f4f4;
}
.h5_policy .footer_tips p {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.4rem;
  margin-bottom: 0.26667rem;
  font-weight: 700;
}
.h5_policy .footer_tips ul {
  margin: 0;
  padding-left: 0.53333rem;
  list-style-type: disc;
}
.h5_policy .footer_tips ul li {
  font-size: 0.32rem;
  line-height: 0.58667rem;
  position: relative;
  left: -0.13333rem;
}
.submit_wrap {
  background: #fff;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.26667rem 0.64rem;
  height: 1.6rem;
}
.submit_wrap .line {
  position: absolute;
  width: 100%;
  height: 0.13333rem;
  top: -0.13333rem;
  left: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}
.submit_wrap .submit_wrap_left {
  float: left;
  height: 100%;
  width: 4rem;
}
.submit_wrap .submit_wrap_left p:nth-child(1) {
  height: 0.64rem;
  width: 100%;
  color: #ff6262;
  margin-bottom: 0.10667rem;
}
.submit_wrap .submit_wrap_left p:nth-child(1) span:nth-child(1) {
  height: 0.45333rem;
  font-size: 0.32rem;
  position: relative;
  top: 0.18667rem;
  float: left;
  margin-right: 0.13333rem;
  vertical-align: bottom;
}
.submit_wrap .submit_wrap_left p:nth-child(1) span:nth-child(2) {
  height: 100%;
  line-height: 0.64rem;
  font-size: 0.64rem;
}
.submit_wrap .submit_wrap_left p:nth-child(2) {
  color: #aaa;
  font-size: 0.32rem;
  margin-left: 0.34667rem;
  display: flex;
  flex-direction: row;
}
.submit_wrap .submit_wrap_left p:nth-child(2) span {
  display: inline-block;
  height: 100%;
  color: #4bb9b0;
  margin-left: 0.13333rem;
}
.submit_wrap a {
  width: 4.48rem;
  height: 1.06667rem;
  float: right;
  text-align: center;
  line-height: 1.06667rem;
  border-radius: 2.66667rem;
  background: #ffb70e;
  color: #fff;
  font-size: 0.4rem;
}
